<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <style>
      body {
        overflow-x: hidden;
      }

      /* ทำให้ sidebar สูงเต็มหน้าจอ */
      .bs-side-navbar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 200px; /* กำหนดความกว้างของ sidebar */
        flex-direction: column;
        align-items: start;
        padding-left: 1rem;
        background-color: rgb(46, 104, 239);
        padding-top: 1rem;
      }

      /* กำหนดให้เนื้อหาขยับขวา */
      .content-wrapper {
        margin-left: 200px; /* ต้องตรงกับความกว้าง sidebar */
        padding: 2rem;
      }
      hr{
        color: white;
      }

       .active-link {
        background-color: rgba(255, 255, 255, 0.2);
        font-weight: bold;
        border-radius: 5px;
        }

    </style>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg bs-side-navbar">
    <a class="navbar-brand text-white" href="#"><b>AssetFlow</b></a>

    <ul class="navbar-nav flex-column">
      <li class="nav-item">
        <a class="nav-link text-white <%= activePage === 'dashboard' ? 'active-link' : '' %>" href="/admin">แดชบอร์ด</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white <%= activePage === 'listitemuser' ? 'active-link' : '' %>" href="/admin/listitemuser">รายการอุปกรณ์</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">รายการคำขอยืมอุปกรณ์</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">รายการคืนอุปกรณ์</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">ยันยืนการคืนอุปกรณ์</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">จัดการผู้ใช้</a>
      </li>
    <hr>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">การตั้งค่า</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/logout">ออกจากระบบ</a>
    </li>
</ul>

  </nav>

  <div class="content-wrapper">
    <%- body %>
  </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
